.jobBoardRootRootRoot {
    width: 100%;
    height: 1892px;
    position: relative;
    gap: 49.3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ffffff;
    overflow: hidden;
}
.line1 {
    height: 0px;
    left: -41882px;
    top: -14997px;
    position: absolute;
}
.group51 {
    height: 1772px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.group {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.backgroundcolor {
    height: 1240px;
    left: 319px;
    top: 0px;
    position: absolute;
    gap: 96px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 6.53% 7.99% 6.53% 1.81%;
    background-color: #fcf8f5;
}
.text1 {
    width: 44.39%;
    height: 59px;
    margin: 0px 0px 0px 8.06%;
    color: #ca8342;
    font-size: 48px;
    font-weight: 700;
    font-family: Montserrat;
    white-space: nowrap;
}
.group6 {
    gap: 66px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.silverFlexColumn {
    height: 997px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 20px;
    background-color: #c2c2c2;
}
.whiteRectangle {
    width: 100%;
    height: 170px;
    border-radius: 20px;
    background-color: #ebebeb;
}
.group7 {
    height: 997px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.text2 {
    width: 51.28%;
    height: 44px;
    margin: 0px 0px 3.17% 0.44%;
    color: #7e7e7e;
    font-size: 32px;
    font-weight: 700;
    font-family: Open Sans;
    white-space: nowrap;
}
.group8 {
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px 0px 2.97% 0px;
}
.blackSquare {
    width: 99.64%;
    height: 280px;
    left: 1px;
    top: 0.41px;
    position: absolute;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.55);
}
.flexColumn4 {
    position: relative;
    gap: 1.33px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10.54% 11.4% 9.4% 10.71%;
    background-size: cover;
    background-image: url("https://file.rendit.io/n/IfP6xfyFtTeDZBArJhBl.png");
}
.text3 {
    width: 93.08%;
    height: 86.2px;
    align-self: flex-end;
    margin: 0px 1.83% 0px 0px;
    color: #ffffff;
    font-size: 31px;
    font-weight: 700;
    font-family: Open Sans;
}
.group14 {
    height: 137px;
    gap: 2.39px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.group15 {
    height: 136px;
    gap: 0.48px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0px 0.37% 0px;
}
.icon {
    width: 90.19%;
    height: 128px;
}
.user {
    width: 9.68%;
    height: 19.9px;
    align-self: flex-end;
}
.text4 {
    width: 8.39%;
    height: 21.5px;
    align-self: flex-end;
    color: #fff9f9;
    font-size: 16px;
    font-weight: 300;
    font-family: Open Sans;
}
.group12 {
    width: 31.08%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0.12% 0px 0px;
}
.flexColumn6 {
    position: relative;
    gap: 2.25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10.69% 9.96% 9.25% 13.95%;
    background-size: cover;
    background-image: url("https://file.rendit.io/n/73mqz3resSwu7N5LJZVd.png");
}
.text5 {
    width: 99.98%;
    height: 129px;
    margin: 0px 0px 0px 0.02%;
    color: #ffffff;
    font-size: 31px;
    font-weight: 700;
    font-family: Open Sans;
}
.group16 {
    width: 99.98%;
    height: 92.7px;
    gap: 1.65px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.group17 {
    width: 8.97%;
    height: 91.1px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0.38% 0.33% 0.38% 79.42%;
}
.text6 {
    width: 99.97%;
    height: 74.2px;
    left: 0px;
    top: 0px;
    position: absolute;
    color: #f8f8f8;
    font-size: 64px;
    font-weight: 700;
    font-family: Montserrat;
}
.user1 {
    width: 10.1%;
    height: 19.9px;
    left: 169px;
    top: 71.9px;
    position: absolute;
}
.group18 {
    width: 8.59%;
    height: 92.7px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px 0px 0px 0.02%;
}
.text7 {
    width: 99.55%;
    height: 21.5px;
    left: 0px;
    top: 71.1px;
    position: absolute;
    color: #d2d2d2;
    font-size: 16px;
    font-weight: 300;
    font-family: Open Sans;
}
.group13 {
    width: 31.08%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px 0.12% 0px 0px;
}
.flexColumn10 {
    height: 254px;
    position: relative;
    gap: 10.9px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 4.64% 10.26% 4.64% 12.17%;
    background-size: cover;
    background-image: url("https://file.rendit.io/n/YduUHe0IRDBdweSrEWJz.png");
}
.text9 {
    width: 98.06%;
    height: 86.2px;
    align-self: flex-end;
    color: #ffffff;
    font-size: 31px;
    font-weight: 700;
    font-family: Open Sans;
}
.group19 {
    width: 99.9%;
    gap: 2.32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.group20 {
    width: 8.79%;
    height: 110px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 6.5% 0px 6.5% 80.2%;
}
.icon1 {
    width: 90.51%;
    height: 138px;
    left: 0px;
    top: 0px;
    position: absolute;
}
.user3 {
    width: 9.88%;
    height: 19.9px;
    left: 174px;
    top: 104px;
    position: absolute;
}
.group21 {
    width: 8.42%;
    height: 111px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 6.13% 0px 6.13% 0.03%;
}
.text10 {
    width: 99.38%;
    height: 21.5px;
    left: 0px;
    top: 103px;
    position: absolute;
    color: #d2d2d2;
    font-size: 16px;
    font-weight: 300;
    font-family: Open Sans;
}
.group9 {
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 0px 3% 0px;
}
.group22 {
    width: 31.08%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 3.21% 0px 0px;
    padding: 0px 0.11% 0px 0px;
}
.flexColumn14 {
    position: relative;
    gap: 31.8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 12.25% 11.4% 9.33% 14.53%;
    background-size: cover;
    background-image: url("https://file.rendit.io/n/2IaMqhw6jWqJ4NZHJ1cC.png");
}
.text12 {
    width: 97.88%;
    height: 43.1px;
    color: #ffffff;
    font-size: 31px;
    font-weight: 700;
    font-family: Open Sans;
}
.group25 {
    width: 99.8%;
    height: 145px;
    gap: 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}
.iconAlternatePencil1 {
    width: 61.23%;
    height: 131px;
}
.group26 {
    height: 21.5px;
    gap: 2.39px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 59.37% 0px 0px 0px;
}
.group23 {
    width: 31.08%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 3.22% 0px 0px;
    padding: 0px 0.12% 0px 0px;
}
.blackSquare4 {
    width: 99.63%;
    height: 280px;
    left: 1.04px;
    top: 0.21px;
    position: absolute;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.55);
}
.mahoganyFlexColumn {
    position: relative;
    gap: 5.94px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 11.11% 11.39% 9.33% 12.51%;
    border-radius: 20px;
    background-color: rgba(160, 15, 15, 0.2);
    background-size: cover;
    background-position: 50% 50%;
    background-blend-mode: normal, overlay;
    background-image: linear-gradient(
            rgba(160, 15, 15, 0.2),
            rgba(160, 15, 15, 0.2)
    ),
    url(https://file.rendit.io/n/2YvK6v6a26Jw4y0rVy0C.png);
}
.text14 {
    width: 95.27%;
    height: 86.2px;
    margin: 0px 0px 0px 1.9%;
    color: #ffffff;
    font-size: 31px;
    font-weight: 700;
    font-family: Open Sans;
}
.group27 {
    height: 131px;
    gap: 8.82px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.icon2 {
    width: 76.96%;
    height: 117px;
}
.group28 {
    height: 21.5px;
    gap: 2.39px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 51.22% 0px 0px 0px;
}
.flexColumn17 {
    position: relative;
    gap: 37.1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 11.68% 11.37% 9.33% 13.57%;
    background-size: cover;
    background-image: url("https://file.rendit.io/n/oKE9l70eqtLMwbAh1U8y.png");
}
.text16 {
    width: 96.59%;
    height: 86.2px;
    align-self: flex-end;
    margin: 0px 1.17% 0px 0px;
    color: #ffffff;
    font-size: 31px;
    font-weight: 700;
    font-family: Open Sans;
}
.group29 {
    height: 97.9px;
    gap: 43.2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.image1 {
    width: 60.43%;
    height: 84px;
}
.group30 {
    height: 21.5px;
    gap: 2.39px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 36.33% 0px 0px 0px;
}
.group10 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.flexColumn19 {
    position: relative;
    gap: 12.7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 11.11% 11.4% 9.4% 13.57%;
    background-size: cover;
    background-image: url("https://file.rendit.io/n/zzH2n8uOC3dZN3IWk8Iw.png");
}
.text18 {
    width: 96.63%;
    height: 86.2px;
    align-self: flex-end;
    margin: 0px 1.14% 0px 0px;
    color: #ffffff;
    font-size: 31px;
    font-weight: 700;
    font-family: Open Sans;
}
.group34 {
    height: 124px;
    gap: 27.2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.image2 {
    width: 68.07%;
    height: 113px;
}
.group35 {
    height: 21.5px;
    gap: 2.39px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 48.62% 0px 0px 0px;
}
.flexColumn21 {
    position: relative;
    gap: 8.73px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 11.11% 11.39% 9.25% 13.21%;
    background-size: cover;
    background-image: url("https://file.rendit.io/n/hIEn1sHDPsRFslt0gAG8.png");
}
.text20 {
    width: 96.15%;
    height: 86.2px;
    margin: 0px 0px 0px 1.74%;
    color: #ffffff;
    font-size: 31px;
    font-weight: 700;
    font-family: Open Sans;
}
.group36 {
    height: 128px;
    gap: 11.3px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.icon3 {
    width: 75.78%;
    height: 112px;
}
.group37 {
    height: 21.5px;
    gap: 2.39px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50.47% 0px 0px 0px;
}
.flexColumn23 {
    position: relative;
    gap: 15.4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10.96% 4.87% 9.4% 13.57%;
    background-size: cover;
    background-image: url("https://file.rendit.io/n/x46KbYX19U5Qc1RcjMc4.png");
}
.text22 {
    width: 98.09%;
    height: 86.2px;
    align-self: flex-end;
    color: #ffffff;
    font-size: 31px;
    font-weight: 700;
    font-family: Open Sans;
}
.group38 {
    width: 99.84%;
    height: 121px;
    gap: 37.2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.iconCode1 {
    width: 58.24%;
    height: 108px;
}
.group39 {
    height: 21.5px;
    gap: 2.39px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 43.75% 0px 0px 0px;
}
.navigation {
    width: 96.53%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.46% 1.74% 0.5% 1.74%;
    border-width: 0px 0px 0.75px 0px;
    border-style: solid;
    border-color: #afafaf;
    background-color: #fcf8f5;
    overflow: hidden;
}
.logo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 19.14% 0px 0px;
    padding: 0.36% 1.29% 0.43% 1.37%;
    background-size: cover;
    background-image: url("undefined");
}
.locolBlue1 {
    width: 100%;
    height: 77px;
}
.text24 {
    width: 3.6%;
    height: 23px;
    position: relative;
    margin: 1.87% 5.18% 0px 0px;
    color: #575757;
    font-size: 17px;
    font-weight: 600;
    font-family: Open Sans;
    white-space: nowrap;
}
.text25 {
    width: 7.41%;
    height: 23px;
    position: relative;
    margin: 1.87% 0px 0px 0px;
    color: #575757;
    font-size: 17px;
    font-weight: 600;
    font-family: Open Sans;
    white-space: nowrap;
}
.chevronright {
    width: 1.8%;
    height: 25px;
    position: relative;
    margin: 1.8% 4.75% 0px 0px;
}
.text26 {
    width: 11.81%;
    height: 29px;
    left: 1221px;
    top: 45.7px;
    position: absolute;
    color: #ca8342;
    font-size: 20px;
    font-weight: 600;
    font-family: Open Sans;
    text-align: center;
    transform: rotate(-0.22deg);
    transform-origin: 0px 0px;
}
.group40 {
    position: relative;
    gap: 5.5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 3.24% 0px 0px;
    padding: 1.8% 0px 2.12% 0px;
}
.board {
    width: 33.33%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0px 0px 66.67%;
}
.text27 {
    width: 68%;
    height: 23px;
    left: 0px;
    top: 1px;
    position: absolute;
    color: #00416b;
    font-size: 17px;
    font-weight: 700;
    font-family: Open Sans;
    white-space: nowrap;
}
.chevronright1 {
    width: 100%;
    height: 25px;
    position: relative;
}
.image3 {
    width: 68%;
    height: 3px;
}
.text28 {
    width: 6.91%;
    height: 23px;
    position: relative;
    margin: 1.87% 17.19% 0px 0px;
    color: #575757;
    font-size: 17px;
    font-weight: 600;
    font-family: Open Sans;
    white-space: nowrap;
}
.element2 {
    width: 11.08%;
    height: 38px;
    position: relative;
    margin: 1.08% 0px 0px 0px;
    border-width: 4px;
    border-radius: 20px;
    border-style: solid;
    border-color: #ca8342;
}
.rawSiennaFlexColumn {
    height: 1271px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.46% 1.04%;
    background-color: #ca8342;
}
.locol {
    width: 68.86%;
    height: 199px;
    margin: 0px 0px 0px 15.22%;
}
.blackFlexRow {
    width: 89.62%;
    gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 0px 3.46% 0px;
    padding: 2.08% 5.19% 2.42% 5.19%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.21);
}
.text29 {
    width: 53.28%;
    height: 22px;
    align-self: flex-end;
    margin: 0px 0px 0.39% 0px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    font-family: Open Sans;
}
.group41 {
    width: 89.62%;
    gap: 21px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 0px 5.88% 0px;
    padding: 0px 5.19%;
}
.image5 {
    width: 7.34%;
    height: 25px;
}
.text30 {
    width: 22.78%;
    height: 22px;
    align-self: flex-end;
    margin: 0px 0px 0.39% 0px;
    color: #f6e6d9;
    font-size: 16px;
    font-family: Open Sans;
}
.group42 {
    width: 92.39%;
    gap: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 0px 5.88% 0px;
    padding: 0px 3.81%;
}
.text31 {
    width: 34.83%;
    height: 22px;
    align-self: flex-end;
    margin: 0px 0px 0.37% 0px;
    color: #f6e6d9;
    font-size: 16px;
    font-family: Open Sans;
}
.group43 {
    width: 92.39%;
    gap: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 0px 6.23% 0px;
    padding: 0px 3.81%;
}
.text32 {
    width: 47.19%;
    height: 22px;
    align-self: flex-end;
    margin: 0px 0px 0.37% 0px;
    color: #f6e6d9;
    font-size: 16px;
    font-family: Open Sans;
}
.group44 {
    width: 92.39%;
    height: 25px;
    gap: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 0px 6.23% 0px;
    padding: 0px 3.81%;
}
.text33 {
    width: 61.05%;
    height: 22px;
    margin: 0.37% 0px 0px 0px;
    color: #f6e6d9;
    font-size: 16px;
    font-family: Open Sans;
}
.group45 {
    width: 92.39%;
    height: 22.2px;
    gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 0px 7.88% 0px;
    padding: 0px 3.81%;
}
.iconBrain {
    width: 9.36%;
    height: 22.2px;
}
.text34 {
    width: 59.55%;
    height: 22px;
    color: #f6e6d9;
    font-size: 16px;
    font-family: Open Sans;
}
.iconVideo {
    width: 8.65%;
    height: 16px;
    margin: 0px 0px 7.97% 4.15%;
}
.group46 {
    width: 95.85%;
    gap: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 0px 6.57% 0px;
    padding: 0px 2.08%;
}
.text35 {
    width: 12.64%;
    height: 20px;
    margin: 0.36% 0px 0px 0px;
    color: #f6e6d9;
    font-size: 16px;
    font-weight: 600;
    font-family: Montserrat;
}
.text36 {
    width: 68.95%;
    height: 22px;
    color: #f6e6d9;
    font-size: 16px;
    font-family: Open Sans;
    white-space: nowrap;
}
.group47 {
    width: 95.85%;
    height: 28.2px;
    gap: 17.7px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 0px 5.12% 0px;
    padding: 0px 2.01%;
}
.iconBullhorn {
    width: 11%;
    height: 28.2px;
}
.text37 {
    width: 64.89%;
    height: 22px;
    margin: 0.36% 0px 0px 0px;
    color: #f6e6d9;
    font-size: 16px;
    font-family: Open Sans;
}
.group48 {
    width: 93.77%;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 0px 6.92% 0px;
    padding: 0px 3.11%;
}
.image6 {
    width: 9.23%;
    height: 16.7px;
    margin: 0.08% 0px 0px 0px;
}
.group49 {
    width: 92.39%;
    gap: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 3.81%;
}
.iconCode {
    width: 9.36%;
    height: 20px;
    margin: 0.37% 0px 0px 0px;
}
.group1 {
    width: 92.92%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 3.13% 0px 3.96%;
}
.locolBlue {
    width: 14.13%;
    height: 189px;
}
.group50 {
    height: 222px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.image7 {
    width: 67.66%;
    height: 55px;
    margin: 0px 0.17% 3.67% 0px;
}
.text40 {
    width: 53.32%;
    height: 24px;
    margin: 0px 0px 3.32% 0px;
    color: #ca8342;
    font-size: 20px;
    font-weight: 600;
    font-family: Montserrat;
    white-space: nowrap;
}
.paragraph {
    width: 100%;
    height: 71px;
    align-self: flex-start;
    color: rgba(202, 131, 66, 0.75);
    font-size: 15px;
    font-family: Open Sans;
    text-align: right;
}
.group2 {
    width: 90.28%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 0px 0.76% 0px;
    padding: 0px 4.86%;
}
.text41 {
    width: 7.31%;
    height: 27px;
    margin: 0px 3.08% 0px 0px;
    color: #00416b;
    font-size: 20px;
    font-weight: 700;
    font-family: Open Sans;
    white-space: nowrap;
}
.community {
    width: 9%;
    height: 27px;
    margin: 0px 3% 0px 0px;
    color: #00416b;
    font-size: 20px;
    font-weight: 700;
    font-family: Open Sans;
}
.text42 {
    width: 9.38%;
    height: 27px;
    color: #00416b;
    font-size: 20px;
    font-weight: 700;
    font-family: Open Sans;
    white-space: nowrap;
}
.text43 {
    width: 4.46%;
    height: 22px;
    margin: 0px 5.92% 0px 0px;
    color: #00416b;
    font-size: 16px;
    font-family: Open Sans;
    white-space: nowrap;
}
.text44 {
    width: 2.54%;
    height: 22px;
    margin: 0px 9.46% 0px 0px;
    color: #00416b;
    font-size: 16px;
    font-family: Open Sans;
    white-space: nowrap;
}
.text45 {
    width: 7.46%;
    height: 22px;
    color: #00416b;
    font-size: 16px;
    font-family: Open Sans;
    white-space: nowrap;
}
.faq1 {
    width: 2.69%;
    height: 17px;
    margin: 0px 7.69% 0px 0px;
    color: #00416b;
    font-size: 16px;
    font-family: Open Sans;
}
.faq {
    display: contents;
    color: #00416b;
    font-size: 15px;
    font-family: Open Sans;
}
.text46 {
    width: 4.54%;
    height: 22px;
    margin: 0px 7.46% 0px 0px;
    color: #00416b;
    font-size: 16px;
    font-family: Open Sans;
    white-space: nowrap;
}
.text47 {
    width: 7.77%;
    height: 22px;
    color: #00416b;
    font-size: 16px;
    font-family: Open Sans;
    white-space: nowrap;
}
.group5 {
    width: 71.53%;
    gap: 95px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 14.24%;
}
.text48 {
    width: 5.92%;
    height: 22px;
    color: #00416b;
    font-size: 16px;
    font-family: Open Sans;
    white-space: nowrap;
}
.text49 {
    width: 7.77%;
    height: 22px;
    color: #00416b;
    font-size: 16px;
    font-family: Open Sans;
    white-space: nowrap;
}
.group52 {
    position: relative;
    gap: 9px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 0px 0px 3.06%;
}
.line {
    width: 100%;
    height: 0px;
    border-width: 0.75px 0px 0px 0px;
    border-style: solid;
    border-color: #d4d4d4;
}
.locolSolutionsLlc {
    width: 17.5%;
    height: 21px;
    align-self: flex-end;
    margin: 0px 40.73% 0px 0px;
    color: #6c6c6c;
    font-size: 17px;
    font-family: Inter;
}
