.businesssignupRootRoot {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    background-color: #ffffff;
    overflow: hidden;
  }
  .elements1 {
    width: 100%;
    height: 1046px;
    left: 0px;
    top: 0px;
    position: absolute;
    box-sizing: border-box;
    background-position: 50% 50%;
    background-size: cover;
    overflow: hidden;
    filter: blur(18px);
  }
  .yellowCircle {
    width: 928px;
    min-width: 0px;
    height: 930px;
    min-height: 0px;
    left: 412.99609375px;
    top: 300px;
    position: absolute;
    box-sizing: border-box;
  }
  .blueCircle {
    width: 540px;
    min-width: 0px;
    height: 540px;
    min-height: 0px;
    left: -112.1640625px;
    top: 885.2841796875px;
    position: absolute;
    box-sizing: border-box;
    transform: rotate(-102.93deg);
    transform-origin: 0px 0px;
  }
  .orangeCircle {
    width: 540px;
    min-width: 0px;
    height: 548px;
    min-height: 0px;
    left: 1101.8828125px;
    top: -214px;
    position: absolute;
    box-sizing: border-box;
    transform: rotate(22.7deg);
    transform-origin: 0px 0px;
  }
  .orangeCircle1 {
    width: 139px;
    min-width: 0px;
    height: 141px;
    min-height: 0px;
    left: 853.26171875px;
    top: -78px;
    position: absolute;
    box-sizing: border-box;
    transform: rotate(22.7deg);
    transform-origin: 0px 0px;
  }
  .orange {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    padding: 177px 395px 302px 395px;
    box-sizing: border-box;
    background-size: cover;
    background-image: url("https://file.rendit.io/n/2H5DsaN8eqAiRbQhr0dG.svg");
  }
  .panel {
    width: 649px;
    gap: 15.6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    padding: 52px 51px 177px 51px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .group {
    width: 99.82%;
    gap: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-end;
    margin: 0px 0px 7.37px 0px;
    box-sizing: border-box;
  }
  .image1 {
    width: 3.81%;
    min-width: 0px;
    max-width: 100%;
    min-height: 0px;
    align-self: flex-end;
    margin: 11px 0px 8.86px 0px;
    box-sizing: border-box;
  }
  .text5 {
    align-self: flex-start;
    margin: 0px 283px 0px 0px;
    color: #262626;
    font-size: 25px;
    font-weight: 700;
    font-family: Montserrat;
    line-height: 31.725001335144043px;
    text-align: center;
    box-sizing: border-box;
  }
  .image2 {
    width: 3.81%;
    min-width: 0px;
    max-width: 100%;
    min-height: 0px;
    align-self: flex-end;
    margin: 11px 0px 8.86px 0px;
    box-sizing: border-box;
  }
  .text2 {
    align-self: flex-start;
    margin: 0px 0px 0px 37px;
    font-size: 15px;
    font-weight: 600;
    font-family: Montserrat;
    box-sizing: border-box;
  }
  .dropshadow {
    width: 473px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    margin: 0px 0px 6.65px 0px;
    border-width: 1px;
    border-radius: 20px;
    border-style: solid;
    border-color: #bdbdbd;
    box-sizing: border-box;
    background-position: 50% 50%;
    background-size: cover;
    box-shadow: 0px 5px 25px 0px #02375f;
  }
  .element1 {
    width: 100.42%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    margin: 0px 0px 0px -1px;
    padding: 15.2px 32.8px;
    box-sizing: border-box;
    background-size: cover;
    background-image: url("undefined");
  }
  .typeHere {
    align-self: flex-start;
    color: rgba(0, 0, 0, 0.3);
    font-size: 11px;
    font-weight: 500;
    font-family: Montserrat;
    box-sizing: border-box;
  }
  .text3 {
    align-self: flex-start;
    margin: 0px 0px 0px 37px;
    font-size: 15px;
    font-weight: 600;
    font-family: Montserrat;
    box-sizing: border-box;
  }
  .element2 {
    width: 473px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    margin: 0px 0px 12px 0px;
    padding: 14.2px 31.8px 14.7px 31.8px;
    border-width: 1px;
    border-radius: 20px;
    border-style: solid;
    border-color: #bdbdbd;
    box-sizing: border-box;
    background-position: 50% 50%;
    background-size: cover;
    box-shadow: 0px 5px 25px 0px #02375f;
  }
  .typeHere1 {
    align-self: flex-start;
    color: rgba(0, 0, 0, 0.3);
    font-size: 11px;
    font-weight: 500;
    font-family: Montserrat;
    box-sizing: border-box;
  }
  .text4 {
    align-self: flex-start;
    margin: 0px 0px 0.37px 40px;
    font-size: 15px;
    font-weight: 600;
    font-family: Montserrat;
    box-sizing: border-box;
  }
  .element3 {
    width: 473px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    padding: 14px 27px 14.9px 27px;
    border-width: 1px;
    border-radius: 20px;
    border-style: solid;
    border-color: #bdbdbd;
    box-sizing: border-box;
    background-position: 50% 50%;
    background-size: cover;
    box-shadow: 0px 5px 25px 0px #02375f;
  }
  .text1 {
    align-self: flex-start;
    color: rgba(0, 0, 0, 0.3);
    font-size: 11px;
    font-weight: 500;
    font-family: Montserrat;
    box-sizing: border-box;
  }
  #ip2 {
    border-radius: 25px;
    border: 2px solid #000;
    padding: 20px; 
    width: 400px;
    /* width: 200px; */
    height: 15px;  
    left: 10%;  
}
  